   <main>
        <section id="add_form_container" class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 mb-1">
                    <h1 class="text-center m-0 mb-5"><strong>Divulgue a Vaga preenchendo o formulário!</strong></h1>
                    <h3 class="text-center fs-4 mb-5">Preencha da melhor forma possível para encontrar seu novo colaborador.</h3>
                </div>
                <div id="form_box" class="d-flex justify-content-center align-items-center text-center p-5 mb-3" style="border: 2px solid black; border-radius: 8px; max-width: 60%;">
                    <form action="/jobs/add" method="POST">
                        <div class="form-group">
                            <label class="fs-3 mb-2" for="title"> <strong> Título da vaga </strong></label>
                            <input type="text" class="form-control text-center fs-5" id="title" name="title" placeholder="Digite o título da vaga." style="width: 25rem; height: 3rem; border: 1px solid black;" required>
                            <small class="form-text text-muted">O título é muito importante, seja claro e objetivo.</small>
                        </div>
                        <div class="form-group">
                            <label class="fs-3 mb-2 mt-5" for="description"> <strong>Descrição da Vaga</strong></label>
                            <textarea type="text" class="form-control text-center" id="description" name="description" placeholder="Descreva as atividades do colaborador." style="border: 1px solid black;" required></textarea>
                        </div>
                        <div class="form-group">
                            <label class="fs-3 mb-2 mt-5" for="company"><strong>Empresa Contratante</strong></label>
                            <input type="text" class="form-control text-center fs-5" id="company" name="company" placeholder="Digite o nome da empresa." style="width: 25rem; height: 3rem; border: 1px solid black;" required>
                        </div>
                        <div class="form-group">
                            <label class="fs-3 mb-2 mt-5" for="email"><strong>Email para contato</strong></label>
                            <input type="email" class="form-control text-center fs-5" id="email" name="email" placeholder="Digite o email." style="width: 25rem; height: 3rem; border: 1px solid black;" autocomplete="off" required>
                            <small class="form-text text-muted">Coloque o email em que você deseje receber os currículos.</small>
                        </div>
                        <div class="form-group">
                            <label class="fs-3 mb-2 mt-5" for="salary"><strong>Salário oferecido</strong></label>
                            <input type="number" class="form-control text-center fs-5" id="salary" name="salary" placeholder="Digite o Salário da vaga." style="width: 25rem; height: 3rem; border: 1px solid black;" required>
                        </div>
                        <button id="button_form" class="fs-3 mb-2 mt-5 p-1">Concluir</button>
                    </form>
                </div>
            </div>
        </section>
    </main>